<!DOCTYPE html>
<html>

<head>
  <%- include('components/head'); -%>
</head>

<body>
  <h1 align="center"><%= title %></h1>
  <a href="productos" class="btn btn-primary btn-lg btn-block">Productos</a>
</body>

</html>